.laptop {
    position: relative;
    width: 450px;
    /* 300px * 1.5 */
    height: 450px;
    /* 300px * 1.5 */
}

.laptop .monitor {
    position: absolute;
    border: 3.75px solid #4d4d4d;
    border-radius: 1.5px;
    height: 225px;
    background: #ffffff;
    left: 21px;
    right: 21px;
    top: 66px;
    transform: perspective(1500px) rotateX(15deg);
    animation: open-laptop-monitor 2s;
}

.laptop .monitor .monitor-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3.75px solid #000000;
    background: #262626;
    animation: start-monitor 1s 5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop .bottom_part {
    position: absolute;
    border: 3.75px solid #262626;
    border-radius: 1.5px;
    height: 247.5px;
    /* 165px * 1.5 */
    background: #262626;
    left: 0;
    right: 0;
    bottom: 3px;
    /* 2px * 1.5 */
    transform: perspective(1200px) rotateX(72deg);
    animation: open-laptop-bottom-part 2s;
}

.laptop .keyboard {
    padding: 10.5px;
    background: #4d4d4d;
    margin-top: 7.5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.laptop .keyboard img {
    width: 100%;
}

.laptop .touchpad {
    background: #4d4d4d;
    width: 67.5px;
    /* 45px * 1.5 */
    padding: 15px;
    /* 10px * 1.5 */
    height: 25.5px;
    /* 17px * 1.5 */
    margin-top: 9px;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes open-laptop-monitor {
    0% {
        transform: perspective(1500px) rotateX(-89deg);
        left: 0px;
        right: 0px;
        top: 105px;
        /* 70px * 1.5 */
    }

    55% {
        top: 54px;
    }

    100% {
        transform: perspective(1500px) rotateX(15deg);
        left: 21px;
        right: 21px;
    }
}

@keyframes open-laptop-bottom-part {
    0% {
        transform: perspective(1200px) rotateX(89deg);
        left: 0px;
        right: 0px;
        bottom: 105px;
        /* 70px * 1.5 */
    }

    90% {
        bottom: 3px;
    }

    100% {
        transform: perspective(1200px) rotateX(72deg);
        left: 0px;
        right: 0px;
    }
}

@keyframes start-monitor {
    0% {
        background: #262626;
    }

    100% {
        background: #262626;
    }
}

.companents {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black !important;
    width: 60%;
    /* 30% * 2 */
    height: 100%;
}

.comp {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 5px;
    /* 8px * 2 */
    gap: 10px;
    /* 5px * 2 */
    align-items: center;
}

.active {
    background-color: #0095bf;
}

.comp i {
    font-size: 15px;
    margin-left: 10px;
    /* 5px * 2 */
}

.comp p {
    font-size: 15px;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: rgb(0, 145, 255);
}

.fa-square-js {
    color: yellow;
}

.fa-image {
    color: green;
}

.code-screen {
    width: 140%;
    /* 70% * 2 */
    height: 100%;
}

.code-screen {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.number {

    display: flex;
    flex-direction: column;

    color: #ffffff;
    text-align: end;

}

.number p {
    margin: 0;
    margin-right: 2px;
}

.code-screen {
    display: flex;
    margin-left: 10px;

}

.number {
    color: #ffffff;
    text-align: end;
    margin-right: 10px;
}

.number p {
    font-size: 12px;
    margin: 5px 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.code {
    color: #e1e1e1;
    font-family: 'Courier New', Courier, monospace;
}

.html-tag {
    color: #ff6347;
    /* HTML tags will be red (like VSCode) */
    font-weight: bold;
}

.code-text {
    color: #d3d3d3;
    /* Text content in light gray */
}

.code p {
    font-size: 12px;
    margin-bottom: 0;
    margin: 5.5px 0 0 0;
}

.html-attr {
    color: #ffd700;
    /* Altın sarısı gibi */
}

.code .html-tag {
    color: #ff6347;
    font-weight: bold;

}

.code .html-tag .html-attr {
    color: #ffd700;
    font-style: italic;
}

.html-class {
    color: #90EE90;
    /* Açık Yeşil */
    font-weight: bold;
}

.cursor {
    border-right: 2px solid green;
    display: inline;
    padding-right: 3px;
    animation: cursor 0.5s step-end infinite alternate;
    ;
}